:root {
  --primary: #FF0000;
  --bg: #fff1f1;
  --dark: #070211;
  --p-color: #6D6D6D;
  --white: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", serif;
}
/* Common Style */
.section-title {
  color: var(--dark);
  font-family: "Merriweather", serif;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 30px;
}
.section-description {
  text-transform: uppercase;
  color: var(--primary);
  font-size: 1.5rem;
}
.primary-btn {
  color: var(--white);
  background-color: var(--primary);
  padding: 16px 32px;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
section {
  margin: 100px auto;
}
p {
  color: var(--p-color);
}
/* New Year Banner */
main {
  max-width: 1320px;
  margin: 0 auto;
}
.new-year {
  background-image: radial-gradient(rgba(0, 0, 0, .1), var(--dark)), url('../images/Banner-Image.png');
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
  background-size: cover;
  margin-top: 50px;
  padding: 150px;
  color: var(--white);
  border-radius: 20px;
}
.new-year-banner {
  font-family: "Merriweather", serif;
  max-width: 640px;
  text-align: center;
  margin: 0 auto;
}
.new-year .banner-title {
  font-size: 1.8rem;
}
.new-year .banner-description {
  font-size: 5rem;
}

/* Offer Section */
.offer {
  text-align: center;
}
.offer .off {
  font-size: 6.5rem;
  color: var(--primary);
  margin-bottom: 40px;
}
.offer .section-title {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: "Inter", serif;
}

/* Party Section */
.party {
  background-image: linear-gradient(to right, var(--dark), rgba(255, 255, 255, 0)), url('../images/Vectorrr.png');
  background-repeat: no-repeat;
  background-position: right left;
  background-size: cover;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  border-radius: 20px;
}
.party-content {
  color: var(--white);
  max-width: 620px;
}
.party-content .party-title {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  letter-spacing: 5px;
}
.party-content .party-description {
  color: #b4b4b4;
  font-size: 1.1rem;
  margin: 30px 0;
}

/* Booking Style */
.booking {
  background-image: linear-gradient(var(--bg), rgba(255, 255, 255, 0));
  text-align: center;
  font-weight: 600;
  padding: 100px 0;
  border-radius: 20px;
}
.booking-content {
  font-size: 2rem;
  margin-bottom: 30px;
}
.booking-content div {
  margin-bottom: 10px;
}
.booking-content div > span {
  color: var(--primary);
}

/* Coming Soon */
.coming-soon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.coming-soon .coming-soon-column {
  max-width: 33.3%;
}
.coming-soon-column .img-wrapper {
  background-color: var(--white);
  padding: 30px;
  border: 15px solid var(--primary);
  height: 365px;
  width: 365px;
  border-radius: 365px;
}
.coming-soon-column .img-wrapper img {
  width: 100%;
}

.coming-soon-column .column-title {
  color: var(--primary);
  font-size: 4rem;
  font-weight: 800;
}
.coming-soon-column .column-description {
  margin-top: 10px;
  margin-bottom: 30px;
}

/* Holyday Style */
.holyday {
  text-align: center;
}
.holyday .title {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.holyday .discount {
  font-family: "Merriweather", serif;
  font-size: 4.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.holyday .discount span {
  color: var(--primary);
}
.holyday .details {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.holyday-image-content {
  background-image: url('../images/Rectangle-2.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}
.holyday-image-content .image-column .right {
  margin-top: 50px;
}

/* Portfolio Style */
.portfolio .details {
  max-width: 700px;
  margin-bottom: 30px;
}
.portfolio .portfolio-content {
  display: grid;
  grid-template: auto / auto auto auto;
  gap: 30px;
}

/* Newsletter */
.newsletter {
  background-color: var(--bg);
  padding: 80px 0;
  text-align: center;
  border-radius: 20px;
}
.newsletter .details {
  max-width: 700px;
  margin: 30px auto;
}
.newsletter .subscribe input {
  padding: 16px 35px;
  border: 0;
}
.newsletter .subscribe #email {
  border-radius: 30px 0 0 30px;
  color: var(--p-color);
  overflow: hidden;
}
.newsletter .subscribe .subscribe-btn {
  border-radius: 0 30px 30px 0;
  color: var(--white);
  background-color: var(--primary);
  cursor: pointer;
  margin-left: -5px;
}

/* Footer Style */
footer {
  color: var(--white);
  background-color: var(--dark);
}
footer .footer-content {
  padding: 100px 250px;
}
footer .footer-content hr {
  margin: 30px 0;
  border: 1px solid var(--p-color);
}
footer .footer-content .content {
  display: flex;
  justify-content: space-between;
}
footer .footer-content .content address{
  max-width: 280px;
}
footer .footer-content .social-icon {
  text-align: center;
}
footer .footer-content .social-icon img {
  margin: 0 10px;
}
footer .footer-content .copyright {
  display: flex;
  justify-content: space-between;
}
